.bingo-card {
    &__square {
        padding: 3px; 
        display: flex;
        justify-content: center; 
        align-items: center;
        border: 0.5px solid black;
        height: 55px; 
        width: 55px;
        position: relative;

        &--selected {
            position: absolute;
            font-size: 2rem;
            top: 0; left: 0;
            width: 100%; height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(255, 0, 0, 0.7);
            font-size: 2rem;
            pointer-events: none;
            z-index: 2;
        }
    }
}

@media only screen and (min-width: 600px) {
    .bingo-card__square {
        padding: 5px;
        width: 110px;
        height: 110px;

        &--selected {
             font-size: 4rem;
        }
    }
}
