.bingo-card__square {
    padding: 3px; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .bingo-card__square {
        padding: 5px;
        width: 110px;
        height: 110px;
    }
}
